<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>

  <span class="profile-link">
    <span class="profile-link">
      <%= invite_to_friendship(user) %>
    </span>
  </span>

</li>