<section class="user-section">

  <h2>
    <%= profile_heading(@user) %>
  </h2>

  <%= show_invite_to_friendship(@user) %>

  <h3>Friend List:</h3>
  <% @user.friends.each do |f| %>
    <h5><%= f.name %></h5>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
